name: build

on:
  pull_request:
    branches:
      - main
      - v*

  push:
    branches:
      - main
      - v*
    tags:
      - v*

  repository_dispatch:
  workflow_dispatch:

  schedule:
    - cron: '0 0 * * 1'

jobs:
  generate:
    runs-on: ubuntu-latest
    name: check go generate
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.x

      - name: Install stringer
        run: go install golang.org/x/tools/cmd/stringer@latest

      - name: Run go generate
        run: |
          cd roc
          go generate

      - name: Check for git changes
        run: |
          git diff --quiet
          if [[ $? -ne 0 ]]; then
            echo "go generate might not have been run. Please run it and commit changes"
            exit 1
          fi

  linux:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - name: Linux - Go 1.13
            go: 1.13
            build: yes
            test: yes
            lint: no
            coverage: no

          - name: Linux - Go 1.x
            go: 1.x
            build: yes
            test: yes
            lint: no
            coverage: no

          - name: Linters
            go: 1.x
            build: no
            test: no
            lint: yes
            coverage: no

          - name: Coverage
            go: 1.x
            build: yes
            test: yes
            lint: no
            coverage: yes

    name: ${{ matrix.name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install g++ pkg-config scons ragel gengetopt \
            libuv1-dev libunwind-dev libspeexdsp-dev libsox-dev libpulse-dev \
            libtool intltool autoconf automake make cmake meson

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - name: Build Roc
        run: |
          git clone https://github.com/roc-streaming/roc-toolkit.git /tmp/roc
          scons -C /tmp/roc -Q --build-3rdparty=openfec
          sudo scons -C /tmp/roc -Q --build-3rdparty=openfec install

      - name: Build bindings
        if: ${{ matrix.build == 'yes' }}
        run: |
          cd roc
          go list -f {{.IgnoredGoFiles}} .
          go get -v .

      - name: Run tests
        if: ${{ matrix.test == 'yes' }}
        run: |
          cd roc
          go test -covermode=count -coverprofile=coverage.out

      - name: Run tests with cgocheck
        if: ${{ matrix.test == 'yes' }}
        run: |
          cd roc
          GODEBUG=cgocheck=2 go test -count=1 .

      - name: Run tests under race detector
        if: ${{ matrix.test == 'yes' }}
        run: |
          cd roc
          go test -race

      - name: Run linters
        if: ${{ matrix.lint == 'yes' }}
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.52.2
          working-directory: roc

      - name: Prepare coverage report
        if: ${{ matrix.coverage == 'yes' }}
        uses: jandelgado/gcov2lcov-action@v1.0.9
        with:
          working-directory: roc

      - name: Send coverage report
        if: ${{ matrix.coverage == 'yes' }}
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: roc/coverage.lcov

  macos:
    runs-on: macos-latest

    name: macOS
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install system dependencies
        run: |
          brew install scons ragel gengetopt libuv speexdsp sox cpputest

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.x'

      - name: Build Roc
        run: |
          git clone https://github.com/roc-streaming/roc-toolkit.git /tmp/roc
          scons -C /tmp/roc -Q --build-3rdparty=openfec
          sudo scons -C /tmp/roc -Q --build-3rdparty=openfec install

      - name: Build bindings
        run: |
          cd roc
          go list -f {{.IgnoredGoFiles}} .
          go get -v .

      - name: Run tests
        run: |
          cd roc
          go test

      - name: Run tests with cgocheck
        run: |
          cd roc
          GODEBUG=cgocheck=2 go test -count=1 .

      - name: Run tests under race detector
        run: |
          cd roc
          go test -race

  formatting:
    runs-on: ubuntu-latest

    name: Formatting
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run gofmt
        uses: Jerome1337/gofmt-action@v1.0.5
        with:
          gofmt-path: './roc'
          gofmt-flags: '-s -l -d'

  release:
    runs-on: ubuntu-latest

    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    needs: [linux, macos, formatting]

    name: Release
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Check version
        shell: bash
        run: |
          version_git="$(git describe --tags --abbrev=0 | sed s/v//g)"
          version_src="$(sed -rn 's,.*bindingsVersion\s*=\s*"(\S+)".*,\1,p' ./roc/version.go)"

          if [[ "$version_git" != "$version_src" ]]; then
            echo "please update hardcoded version to current git version \"$version_git\"" \
                >> "$GITHUB_OUTPUT"
            exit 1
          fi
